*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

}

:root{
    --blackcolor:#000;
    --whitecolor:#ffff;
    --whiteLight:#fcfcfc;
    --green1:#2eee71;
    --green2:#badc58;
    --redLight:#fBaeae;
    --redDark: #622d2d;
    
}
body{
    background: var(--whiteLight);
    font-family: 'Raleway', sans-serif;
}
/*navbaar styles*/
.nav {
    width:100%;
    height:70px;
    display:flex;
    align-items: center;
    background: var(--whitecolor);
    box-shadow: 0 16px 32px 0 rgba(221, 230, 237, .4);
    padding: 0 100px;
}
.nav ul {
    list-style: none;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    text-decoration: none;
    display: block;
    color:var(--blackcolor);
    padding: 0 15px; 
}
.left-nav {
    width:50%;

}
.right-nav {
    width:50%;
    display:flex;
    justify-content: flex-end;
}
/*form styles*/
.form-row {
    display: flex;
    height: calc(100vh - 70px);
}
.left-side {
    width: 60%;
    background: url("../img/bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.right-side{
    width:40%;

}
.errors {
    width: 70%;
    padding:14px;
    margin-bottom: 6px;
    background:var(--redLight);
    color:var(--redDark);
    border-left:4px solid var(--redDark);
}
.alert-success {
    width: 70%;
    padding:14px;
    margin-bottom: 6px;
    background:var(--green2);
    color:var(--whitecolor);
    border-left:4px solid var(--green1);
    font-size: 14px;
}
.error {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}
.form-container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.accountForms {
    width:70%;
    background:var(--whitecolor);
    border-radius:3px;
    box-shadow: 0 16px 32px 0 rgba(221, 230, 237, .4);
    padding: 25px;

}
label {
    display: block;
    color: silver;
    margin-bottom: 10px;
    font-size: 14px;
}
.group {
    margin: 7px 0;
}
.control {
    width: 100px;
    padding: 13px 11px;
    border:none;
    outline:none;
    background:var(--whiteLight);
    border-left: 4px solid var(--green1);
    margin-bottom: 7px;
}
.btn{
    border:none;
    outline:none;
    cursor: pointer;
}
.btn-sweet {
    padding: 15px 7px;
    width:100%;
    color: var(--whitecolor);
    background:linear-gradient(to right, var(--green1), var(--green2));
    font-size:15px;
    text-transform:uppercase;
}
.group h3 {
    font-weight: 400;
    font-size:18px;
    margin-bottom:15px;

}
.profile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:60px ;
}
.profilecard{
    width: 400px;
    background: var(--whitecolor);
    padding:30px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 32px 0 rgba(221, 230, 237, .4);
    border-bottom: 4px solid var(--green1)
}
.profilecard span {
    display: flex;
    width:70px;
    height:70px;
    background:linear-gradient(to right, var(--green1), var(--green2));
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--whitecolor);
    font-size: 30px;
    font-weight: 600;

}
.profileName {
    margin: 12px 0;
    font-size:10px;
    letter-spacing: 1px;
}
.profileEmail {
    font-size: 15px;
}
.postFormContainer{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.postFormContainer form{
    width:450px;
    background: var(--whitecolor);
    padding: 25px;

}

.errorhelper{
    width: 450px!important;
}
#imageLabel {
    display: none;
}
.fileLabel {
    width: 100%;
    padding: 13px 11px;
    border: 1px solid var(--green1);
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    outline:none;
    overflow: hidden;
    color: var(--green1);
}

#header {
    width: 100%;
    padding: 0 104px;
    height: 350px;
    margin-top: 20px;
}
.bannerImage {
    width: 100%;
    background: url("../img/ab.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: overlay;
    color: var(--whitecolor);
    align-items: center;
    justify-content: center;
    
}
.bannerImage div h1{
    width: 500px;
}
.bannerImage div {
    width: 500px;
}
.bannerImage div p{
    margin-top: 10px;
    font-size: 14px;
}
.msg{
    margin: 15px 0;
}
.container {
    padding: 0 104px;
}